<mat-toolbar color="primary">
  <mat-toolbar-row>
   
    <a mat-button  aria-label="fluentpos">
      <img class="angular-logo" src="/assets/angular-white-transparent.svg" alt="Angular Logo White">
      <span style="font-weight:lighter;font-size: larger;" translate>site.title</span>
    </a>
    <span class="nav-spacer"></span>

 

    <a mat-icon-button (click)="toggleDarkMode()" class="d-none d-sm-block">
      <mat-icon>{{darkModeIcon}}</mat-icon>
    </a>
    <mat-divider vertical style="height:50%;margin: 10px;"></mat-divider>

 
    <button mat-raised-button color="accent" [matMenuTriggerFor]="userMenu">
      <span><span style="margin-right: 10px;" class="fas fa-caret-down"></span>{{fullName}}</span>
    </button>
  
    <mat-menu #userMenu="matMenu" style="padding-top: 0!important;">
     
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="openLogoutDialog()" translate>userCard.logout</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
