.content {
    margin-top: 58px
}

.checkout {
    bottom: 0px;
    background: whitesmoke;
    position: absolute;
    width: 100%;
    list-style-type: none;
}
// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
// height: 35px !important
// }

// ::ng-deep .mat-form-field-infix {
// padding-top: 0px !important;
// }
