<div class="home-center-screen">
  <div class="row">
    <div class="col-md-12 col-xl-12">
      <div class="c-card background-color-primary" style="color: white">
        <div>
          <h1>Hi, {{ fullName }}</h1>
          <p style="opacity: 75%">Welcome to Online Exam Portal.</p>
          <button mat-raised-button color="accent" (click)="onClickLogout()">
            Logout
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-xl-6 u-mr-auto">
      <div
        class="c-card is-animated background-color-primary"
        style="color: white"
      >
        <div>
          <h1>Online Exam Portal</h1>
          <button mat-raised-button color="accent" [routerLink]="['/exam',candidateId]">
            Go to Exam Portal
          </button>
        </div>
      </div>
    </div>
    <!-- *appHasRole='["Admin"]' -->
    <div *appHasRole="['Admin']" class="col-md-6 col-xl-6 u-ml-auto">
      <div class="c-card is-animated">
        <div>
          <h1>Dashboard</h1>
          <p style="opacity: 50%">
            Management of exams,questions,results,notices etc
          </p>
          <button mat-raised-button color="primary" routerLink="/admin">
            Dashboard
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- <div *appHasRole='["Admin"]' class="row " style="place-content: center;">
        <div class="col-md-6 col-xl-6 u-ml-auto">
            <div class="c-card is-animated">
                <div>
                    <h1>Timelog</h1>
                    <p style="opacity: 50%;">Mark your timelogs here.</p>
                    <button mat-raised-button color="primary" disabled>Timelog</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-6 u-mr-auto">
            <div class="c-card is-animated">
                <div>
                    <h1>Reporting</h1>
                    <p style="opacity: 50%;">Generate Intelligent Reports for your business.</p>
                    <button mat-raised-button color="primary" disabled>Reports</button>
                </div>
            </div>
        </div>
    </div> -->
</div>
