
.welcome-container {
    max-width: 1500px;
    margin: 100px auto;
}

.center {
    display: flex;
    justify-content: center;
}



.flex-container {
  display: flex;
  justify-content: center;
}

.quiz-card {
  margin: 20px;
}

