<!-- <div [hidden]="!dataSource.item1">
    <app-table [title]="'Exams'" [subtitle]="'Manage, Register, Update or Remove Exams here.'"
        [data]="dataSource.item1" [columns]="examColumns" (onFilter)="filter($event)"
        (onReload)="reload()" (onCreateForm)="openForm()" (onEditForm)="openForm($event)" (onSort)="sort($event)"
        (onDelete)="remove($event)" [totalCount]="dataSource.item2" [pageSize]="dataSource.item2"
        (onPageChanged)="pageChanged($event)">
    </app-table>
</div> -->